<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab12.Properties.Settings.DotNetConnectionString"
            connectionString="Data Source=DESKTOP-EC5D0FL\SQLEXPRESS;Initial Catalog=DotNet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>