<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab13.Properties.Settings.DotNetConnectionString" connectionString="Data Source=DESKTOP-EC5D0FL\SQLEXPRESS;Initial Catalog=DotNet;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DotNetEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-EC5D0FL\SQLEXPRESS;initial catalog=DotNet;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>